---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Navigation from "../components/Navigation.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
title: "Ayush Kashyap";
import "../styles/global.css";
---

<section class="mt-32 max-w-3xl mx-auto px-6 text-gray-300">
  <Header />
  <div class="text-center">
    <!-- Placeholder logo -->
    <div
      class="w-12 h-12 mx-auto mb-6 rounded-full bg-gray-700 flex items-center justify-center"
    >
    </div>

    <h3 class="text-2xl font-bold text-white">
      Ayush Kashyap<br />
      <span class="font-semibold text-lg text-gray-300">Software Engineer</span>
    </h3>

    <p class="mt-6 text-gray-400 leading-relaxed">
      Hi, I'm Ayush, a passionate software engineer who loves building clean,
      functional products that solve real problems. Whether it's crafting
      intuitive UIs, diving into backend logic, or experimenting with AI, I
      thrive on learning by building.
    </p>

    <p class="mt-4 text-gray-400">
      Off-screen, I am a die-hard Naruto fan (yes, I believe in hard work over
      destiny) and a lifelong FC Barcelona supporter, football and anime keep
      me inspired, focused, and occasionally yelling at my screen for very
      different reasons.
    </p>

    <p class="mt-4 text-gray-400">
      This site is my digital lab, a space to share my journey, side projects,
      and mini dev logs. Feel free to explore and connect if you're building
      something cool too!
    </p>
  </div>
</section>

<Footer />
