---
import AnimatedLogo from "./AnimatedLogo.astro";
---

<div class="menu">
    <a href="/">
        <AnimatedLogo />
    </a>
    <div class="routes">
        <a href="/projects">Projects</a>
        <a href="/blogs">Blogs</a>
        <button id="theme-toggle" class="hover:opacity-80">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="w-5 h-5 dark:hidden lucide lucide-moon-icon lucide-moon"
                id="moon-icon"
            >
                <path d="M12 3a6 6 0 0 0 9 9 9 9 0 1 1-9-9Z"></path>
            </svg>
            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="w-5 h-5 sun-icon"
                id="sun-icon"
            >
                <circle cx="12" cy="12" r="4"></circle>
                <path d="M12 2v2"></path>
                <path d="M12 20v2"></path>
                <path d="m4.93 4.93 1.41 1.41"></path>
                <path d="m17.66 17.66 1.41 1.41"></path>
                <path d="M2 12h2"></path>
                <path d="M20 12h2"></path>
                <path d="m6.34 17.66-1.41 1.41"></path>
                <path d="m19.07 4.93-1.41 1.41"></path>
            </svg>
        </button>
    </div>
</div>

<script src="/src/scripts/theme-toggle.js" type="module"></script>

<style>
    .sun-icon {
        stroke: #111;
        transition: stroke 0.3s;
    }
    html.dark .sun-icon {
        stroke: #fff;
    }
</style>
