---
const { title, subtitle, publishDate } = Astro.props;
import Contact from "../components/Contact.astro";
import Header from "../components/Header.astro";
import "../styles/global.css";
---

<div id="progress-bar" style="position: fixed; top: 0; left: 0; width: 0%; height: 4px; background-color: #ddc484; z-index: 9999;"></div>
<article class="prose prose-invert max-w-3xl mx-auto px-6 py-16 space-y-10">
  <Header />
  <header>
    <h1 class="text-3xl font-bold text-white">{title}</h1>
    {subtitle && <p class="mt-2 text-gray-400 text-lg italic">{subtitle}</p>}
    {
      publishDate && (
        <p class="text-sm text-gray-500 mt-1">
          {new Date(publishDate).toLocaleDateString(undefined, {
            year: "numeric",
            month: "short",
            day: "numeric",
          })}
        </p>
      )
    }
  </header>

  <slot />

  <Contact />
</article>
<script>
  document.addEventListener('scroll', () => {
    const scrollableHeight = document.documentElement.scrollHeight - window.innerHeight;
    const scrolled = window.scrollY;
    const scrolledPercentage = (scrolled / scrollableHeight) * 100;
    const progressBar = document.getElementById('progress-bar');
    if (progressBar) {
      progressBar.style.width = `${scrolledPercentage}%`;
    }
  });
</script>
